body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.boxdiv {
    padding: 20px;
    margin: 10px 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
